<template>
  <div class="about">
    Hello, this is a stock valuation tool to better see actual value for a stock
  </div>
</template>

<script>
export default {
  name: "About"
};
</script>

<style lang="scss" scoped>
.about {
  padding: 3rem 0;
}
</style>
