<template>
  <div class="home" v-if="tickerValue">
    <StockResults></StockResults>
    <Graph :data="tickerValue" :tickerName="tickerName"></Graph>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import Graph from "@/components/Graph";
import StockResults from "@/components/StockResults";

export default {
  name: "Home",
  components: { Graph, StockResults },
  computed: {
    ...mapState(["tickerValue", "tickerName"]),
    data: () => {
      return {};
    }
  }
};
</script>
<style lang="scss" scoped>
.home {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 3rem 0;
}
</style>
