<template>
  <div class="fair-value">
    <!-- <h3 class="fair-value__header">Fair Value</h3> -->
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "FairValue",
  data: () => {
    return {};
  },
  computed: {
    ...mapState(["finances", "balanceSheet", "cashFlow"])
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.fair-value {
  margin-top: 3rem;

  &__header {
    font-size: 20px;
  }
}
</style>
