<template>
  <div class="footer">
    <div class="footer__container">
      <p>&copy; Juris Bandenieks</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.footer {
  width: 100%;
  height: 3rem;
  background-color: #b0bec5;
  box-shadow: 3px rgba(0, 0, 0, 0.12), 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__container {
    width: 80%;
    margin: 0 auto;
  }
}
</style>
