<template>
  <div class="graph">
    <h2 class="graph__header">Intraday</h2>
    <div class="canvas" id="container"></div>
  </div>
</template>

<script>
import * as d3 from "d3";
import { mapState } from "vuex";

export default {
  name: "Graph",
  props: ["data", "tickerName"],
  components: {},
  data: () => {
    return {
      w: 600,
      h: 300
    };
  },
  computed: {
    ...mapState(["interval", "tickerValue"])
  },

  watch: {
    data() {
      d3.select("svg").remove();

      this.drawLine();
    }
  },
  methods: {
    drawLine() {
      const data = this.tickerValue;

      const margin = { top: 10, right: 30, bottom: 40, left: 100 };
      const graphWidth = this.w - margin.left - margin.right;
      const graphHeight = this.h - margin.top - margin.bottom;

      const svg = d3
        .select(".canvas")
        .append("svg")
        .attr("width", graphWidth + 60)
        .attr("height", graphHeight + margin.top + margin.bottom);

      const graph = svg
        .append("g")
        .attr("width", graphWidth)
        .attr("height", graphHeight)
        .attr("transform", `translate(40, ${margin.top})`);

      svg.exit().remove();

      const x = d3.scaleTime().range([0, graphWidth]);
      const y = d3.scaleLinear().range([graphHeight, 0]);

      const xAxisGroup = graph
        .append("g")
        .attr("class", "x-axis")
        .attr("transform", `translate(0, ${graphHeight})`);

      const yAxisGroup = graph.append("g").attr("class", "y-axis");

      // Line path generator
      const line = d3
        .line()
        .x((d) => x(new Date(d.date)))
        .y((d) => y(d.close));

      // Line path elements
      const path = graph.append("path");

      // Create dotted line group and append to graph
      const dottedLines = graph
        .append("g")
        .attr("class", "lines")
        .style("opacity", 0);
      // Create x dotted line and append to dotted line group
      const xDottedLine = dottedLines
        .append("line")
        .attr("stroke", "#cdda32")
        .attr("stroke-width", 1)
        .attr("stroke-dasharray", 4);
      // Create y dotted line and append to dotted line group
      const yDottedLine = dottedLines
        .append("line")
        .attr("stroke", "#cdda32")
        .attr("stroke-width", 1)
        .attr("stroke-dasharray", 4);

      // Sort data by date
      this.data.sort((a, b) => new Date(a.date) - new Date(b.date));

      // Set scalde domains
      x.domain(d3.extent(this.data, (d) => new Date(d.date)));
      y.domain([
        d3.min(data, (d) => d.close) - 2,
        d3.max(data, (d) => d.close)
      ]);

      path.exit().remove();

      // Update path data
      path
        .data([data])
        .attr("fill", "none")
        .attr("stroke", "#cdda32")
        .attr("stroke-width", 1.5)
        .attr("d", line);

      // Create axis
      const xAxis = d3
        .axisBottom(x)
        .ticks(10)
        .tickFormat(d3.timeFormat("%a %b"));
      const yAxis = d3
        .axisLeft(y)
        .ticks(10)
        .tickFormat((d) => d + "$");

      xAxisGroup.call(xAxis);
      yAxisGroup.call(yAxis);

      xAxisGroup
        .selectAll("text")
        .attr("transform", "rotate(-40)")
        .attr("text-anchor", "end");
    }
  },

  mounted() {
    this.drawLine();
  }
};
</script>

<style lang="scss" scoped>
.graph {
  width: 60%;
  padding-left: 3rem;

  &__header {
    font-size: 22px;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
  }
}
</style>
