<template>
  <div class="header">
    <div class="header__container">
      <div class="header__links">
        <router-link to="/">
          <i class="material-icons">home</i>
          &nbsp; WhatsInStock
        </router-link>
        <router-link to="/about">
          About
        </router-link>
      </div>

      <ul>
        <SearchBar></SearchBar>
      </ul>
    </div>
  </div>
</template>

<script>
import SearchBar from "@/components/SearchBar";

export default {
  components: { SearchBar }
};
</script>

<style lang="scss" scoped>
.header {
  width: 100%;
  height: 5.5rem;
  background-color: #cdda32;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: black;
  z-index: 1000;

  &__container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;

    & > * {
      margin-right: 20px;
    }
  }

  a,
  .router-link-active,
  .router-link-exact-active {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
  }
}
</style>
