<template>
  <li class="search-bar">
    <form @submit="onSearch" class="input-field">
      <i class="material-icons prefix">search</i>
      <input
        type="text"
        id="autocomplete-input"
        class="autocomplete"
        v-model="ticker"
      />
      <label for="autocomplete-input">Ticker</label>
    </form>
  </li>
</template>

<script>
import { mapActions, mapState } from "vuex";
import M from "materialize-css";

export default {
  name: "Graph",
  computed: { ...mapState(["tickerList"]) },
  data: () => {
    return {
      ticker: ""
    };
  },
  methods: {
    ...mapActions(["fetchTicker", "fetchTickerList"]),
    onSearch(e) {
      e.preventDefault();
      this.fetchTicker(this.ticker);
    }
  },
  created() {
    // this.fetchTickerList();
  },
  mounted() {
    M.AutoInit();

    M.Autocomplete.init(this.ticker, this.tickerList);
  }
};
</script>

<style lang="scss" scoped>
.search-bar {
  color: black;

  i {
    cursor: pointer;
  }
}
</style>
