<template>
  <div class="results" v-if="tickerName && tickerInfo">
    <div class="results__header">
      <h2>
        {{ tickerInfo.Name }} ({{ tickerName }}) :
        <span>${{ latestTickerValue.close }}</span>
      </h2>
    </div>

    <div class="results__data">
      <div class="results__grid">
        <div class="results__subrow" v-for="val in financeParams" :key="val.id">
          <span>{{ val.name }} </span
          ><span v-if="tickerInfo[val.value]">{{ tickerInfo[val.value] }}</span>
          <span v-else>N/A</span>
        </div>
      </div>
      <FairValue></FairValue>
    </div>
  </div>
  <div v-else class="results">
    <p>To see stock stats, please input stock symbol!</p>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { v4 as uuidv4 } from "uuid";
import FairValue from "@/components/FairValue";

export default {
  name: "Graph Results",
  components: { FairValue },
  data: () => {
    return {
      data: {},
      financeParams: [
        { value: "DividendPerShare", name: "Dividend Per Share", id: uuidv4() },
        { value: "DividendDate", name: "Dividend date", id: uuidv4() },
        { value: "ExDividendDate", name: "Ex Dividend date", id: uuidv4() },
        { value: "DividendYield", name: "Dividend yield", id: uuidv4() },
        { value: "MarketCapitalization", name: "Market Cap", id: uuidv4() },
        { value: "AnalystTargetPrice", name: "Target Price", id: uuidv4() },
        { value: "PERatio", name: "PE", id: uuidv4() },
        { value: "ForwardPE", name: "Forward PE", id: uuidv4() },
        { value: "PEGRatio", name: "PEG Ratio", id: uuidv4() },
        { value: "EPS", name: "EPS", id: uuidv4() },
        { value: "EVToEBITDA", name: "EV To EBITDA", id: uuidv4() },
        { value: "EBITDA", name: "EBITDA", id: uuidv4() },
        {
          value: "200DayMovingAverage",
          name: "200 Day Moving Average",
          id: uuidv4()
        },
        {
          value: "50DayMovingAverage",
          name: "50 Day Moving Average",
          id: uuidv4()
        },
        { value: "52WeekHigh", name: "52 Week High", id: uuidv4() },
        { value: "52WeekLow", name: "52 Week Low", id: uuidv4() }
      ]
    };
  },
  methods: {},
  computed: {
    ...mapState([
      "tickerValue",
      "latestTickerValue",
      "tickerInfo",
      "tickerName",
      "finances",
      "balanceSheet",
      "cashFlow"
    ])
  },
  created() {}
};
</script>

<style lang="scss" scoped>
.results {
  width: 40%;

  &__header {
    h2 {
      font-size: 22px;
      padding: 0;
      padding-bottom: 1rem;
      margin: 0;
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  &__subrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
  }
}
</style>
