<template>
  <Header></Header>
  <div class="container">
    <router-view />
  </div>
  <Footer></Footer>
</template>

<script>
import { mapActions } from "vuex";
import Footer from "@/components/Footer";
import Header from "@/components/Header";

export default {
  components: { Footer, Header }
};
</script>

<style lang="scss">
body {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  flex: 1;
}
</style>
